doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Revolution Студия английского языка

		// Include styles of lib and fonts icons
		link(rel='stylesheet', href='lib/fontawesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='lib/iziModal/iziModal.min.css')

		// Include main styles file
		link(rel='stylesheet', href='css/index.css')
		link(rel='icon', type='image/png', sizes='32x32', href='favicons/favicon-32x32.png')
		

		meta(name="apple-mobile-web-app-title", content="Revolution")
		meta(name="application-name", content="Revolution")
		
		// Color scheme of mobile Google Chrome
		meta(name="theme-color", content="#ff4b55")

		// Include manifest.json file
		link(rel='manifest', href='js/manifest.json')
		
		// Backgoround and sizes of tiles in MS Windows
		meta(name='msapplication-TileColor', content='#ff4b55')
		meta(name='msapplication-TileImage', content='favicons/mstile-150x150.png')
		
		// Include favicons for Retina MacOS and iOS
		link(rel='apple-touch-icon', sizes='180x180', href='favicons/apple-touch-icon.png')
		link(rel='mask-icon', href='favicons/safari-pinned-tab.svg', color='#6441A4')
		each val in [57, 60, 72, 76, 114, 120, 144, 152, 180]
			link(rel='apple-touch-icon', sizes=val+'x'+val, href='favicons/apple-touch-icon-'+val+'x'+val+'.png')

	body
		header.header.parallax-window#header(data-parallax='scroll', data-image-src='img/bus.jpg')
			.top-bar
				.logo-container
					svg(width='230', height='50')
						symbol#s-text
							text(x='0', y='70%') Revolution
						
						use.text(xlink:href='#s-text')
						use.text(xlink:href='#s-text')
						use.text(xlink:href='#s-text')
						use.text(xlink:href='#s-text')
						use.text(xlink:href='#s-text')
				menu.top-menu
					li: a.top-menu-item(href='#courses') Курсы английского языка
					li: a.top-menu-item(href='#preschool') Дошкольное образование
					li: a.top-menu-item(href='#abroad') Образование за рубежом
					li: a.top-menu-item(href='#summer-camp') Летний языковой лагерь
			.header-content
				.header-title
					h1 Добро пожаловать в студию английского языка Revolution
				.apply-form
					h3 Отправте нам заявку
					form(name='apply-form', action='#')
						.group
							input.apply-form-name(
								type='text',
								name='name',
								required
							)
							span.highlight
							span.bar
							label Имя
						.group
							input.apply-form-email(
								type='email',
								name='email',
								required
							)
							span.highlight
							span.bar
							label Email
						.group
							input.apply-form-phone(
								type='tel',
								name='phone',
								required
							)
							span.highlight
							span.bar
							label Телефон
						button.apply-form-submit(type='submit') Отправить
		section#courses.courses
			h2 Все курсы английского
			.courses-offers
				.courses-price-container
					.courses-price-image.sprite.library
					.courses-price
						p Все уровни английского языка
						span От 2000 руб
				.courses-price-container
					.courses-price-image.sprite.test
					.courses-price
						p Подготовка к ЕГЭ и ОГЭ
						span От 2500 руб
				.courses-price-container
					.courses-price-image.sprite.agreement
					.courses-price
						p Бизнеc Английский
						span От 2000 руб
				.courses-price-container
					.courses-price-image.sprite.earth-globe
					.courses-price
						p Английский для путешествий
						span От 2000 руб
				.courses-price-container
					.courses-price-image.sprite.notes
					.courses-price
						p Интенсив курс
						span 1000 руб
				.courses-price-container
					.courses-price-image.sprite.learning
					.courses-price
						p Все уровни англисйкого языка
						span 1000 руб
			p.courses-promise.
				Разумеется мы вернем деньги если за пол года не доведем ваш английский с нуля до <a class='trigger english-levels'>Pre-Int</a> !!!
			#modal
				.content
					ul
						li A — Элементарное владение
							ul
								li A1 - Beginner, Elementary (Уровень выживания)
								li: strong A2 - Pre-Intermediate (Предпороговый уровень)
						li B — Самостоятельное владение
							ul
								li B1 - Intermediate (Пороговый уровень)
								li B2 - Upper-Intermediate (Пороговый продвинутый уровень)
						li C — Свободное владение
							ul
								li C1 - Advanced (Уровень профессионального владения)
								li C2 - Proficiency (Владение на уровне носителя)
		section#preschool.preschool
			h2 Дошкольное образование
			h3 Начните развивать своего малыша с нами!
			.preschool-content
				.preschool-price-container
					.preschool-price-image.sprite.abc
					.preschool-price
						p Дошкольное образование
						p Учим писать, читать, считать
						span От 2800 руб

				.preschool-price-container
					.preschool-price-image.sprite.artist
					.preschool-price
						p Творческая мастерская
						p Лепка, рисование, театральный кружок
						span От 2000 руб

				.preschool-price-container
					.preschool-price-image.sprite.homework
					.preschool-price
						p Продленка
						p Сделанное Домашнее задание
						span От 150 руб / час
		
		section#abroad.abroad
			h2 Образование зарубежом
			p.abroad-explanation Сотрудничаем с лучшими зарубежными школами. Поможем окунуться в языковую среду, преодолеть языковой барьер и получить море впечатлений
			.abroad-content
				.abroad-price-container
					.abroad-price-image.sprite.united-states
					.abroad-price
						p США
						span От 60 тыс. руб
				.abroad-price-container
					.abroad-price-image.sprite.united-kingdom
					.abroad-price
						p Великобритания
						span От 60 тыс. руб
				.abroad-price-container
					.abroad-price-image.sprite.malta
					.abroad-price
						p Мальта
						span От 60 тыс. руб
				.abroad-price-container
					.abroad-price-image.sprite.ireland
					.abroad-price
						p Ирландия
						span От 60 тыс. руб

		section#summer-camp.summer-camp
			h2 Летний языковой лагерь
			p Студия английского языка Revolution набирает группу детей от 6 до 14 лет в летний языковой лагерь в Краснодаре.
			p Наши предложения :
			ul
				li 3 часа английского каждый день
				li Пребывание в лагере с 9.00 до 16.00
				li Разнообразные мироприятия
				li Погружение в языковую и культурную сферу Великобритании
				li Питание
		footer.footer
			p Copyright &copy; 2017
			.arrow-up
				a(href='#header', title='Вернуться наверх'): i.fa.fa-arrow-up
		//
			.social-btns
				a(href='#'): i.fa.fa-vk
				a(href='#'): i.fa.fa-facebook
				a(href='#'): i.fa.fa-instagram

	//
		<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

	script(src='https://code.jquery.com/jquery-2.2.4.min.js')
	script(src='lib/parallaxjs/parallax.min.js')
	script(src='lib/iziModal/iziModal.min.js')
	script(src='js/common.js')