doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Revolution Студия английского языка

		//-link(rel='stylesheet', href='lib/tinglejs/tingle.min.css')
		link(rel='stylesheet', href='lib/fontawesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='lib/aosjs/aos.css')
		link(rel='stylesheet', href='css/index.css')
	body
		header.header.parallax-window#header(data-parallax='scroll', data-image-src='img/bus.jpg')
			.top-bar
				.logo-container
					svg(width='230', height='50')
						symbol#s-text
							text(x='0', y='70%') Revolution
						
						use.text(xlink:href='#s-text')
						use.text(xlink:href='#s-text')
						use.text(xlink:href='#s-text')
						use.text(xlink:href='#s-text')
						use.text(xlink:href='#s-text')
				menu.top-menu
					li: a.top-menu-item(href='#courses') Курсы английского языка
					li: a.top-menu-item(href='#preschool') Дошкольное образование
					li: a.top-menu-item(href='#abroad') Образование за рубежом
					li: a.top-menu-item(href='#summer-camp') Летний языковой лагерь
			.header-content
				.header-title
					h1 Добро пожаловать в студию английского языка Revolution
				.apply-form
					h3 Отправте нам заявку
					form(name='apply-form', action='#')
						.group
							input.apply-form-name(
								type='text',
								name='name',
								required
							)
							span.highlight
							span.bar
							label Имя
						.group
							input.apply-form-email(
								type='email',
								name='email',
								pattern='/^([a-z0-9_\.-]+)@([a-z0-9_\.-]+)\.([a-z\.]{2,6})$/',
								required
							)
							span.highlight
							span.bar
							label Email
						button.apply-form-submit(type='submit') Отправить
		section#courses.courses
			h2 Все курсы английского
			.courses-offers
				.courses-price-container
					.courses-price-image
						img(src='img/library.png', alt='Все уровни англисйкого языка')
					.courses-price
						p Все уровни английского языка
						span От 2000 &#8381;
				.courses-price-container
					.courses-price-image
						img(src='img/test.png', alt='Подготовка к ЕГЭ и ОГЭ')
					.courses-price
						p Подготовка к ЕГЭ и ОГЭ
						span От 2000 &#8381;
				.courses-price-container
					.courses-price-image
						img(src='img/handshake.png', alt='Бизнеc Английский')
					.courses-price
						p Бизнеc Английский
						span От 2000 &#8381;
				.courses-price-container
					.courses-price-image
						img(src='img/earth-globe.png', alt='Английский для путешествий')
					.courses-price
						p Английский для путешествий
						span От 2000 &#8381;
				.courses-price-container
					.courses-price-image
						img(src='img/notes.png', alt='Интенсив курс')
					.courses-price
						p Интенсив курс
						span От 2000 &#8381;
				.courses-price-container
					.courses-price-image
						img(src='img/library.png', alt='Все уровни англисйкого языка')
					.courses-price
						p Все уровни англисйкого языка
						span От 2000 &#8381;
			p.courses-promise.
				Разумеется мы вернем деньги если за пол года не доведем ваш английский с нуля до <span class='btn trigger english-levels'>Pre-Int</span> !!!
				
			.modal-wrapper
				.modal
					.head
						p.head-title Уровни владения Английским языком
						a.btn-close.trigger(href='javascript: void(0)')
							i.fa.fa-times(aria-hidden='true')
					.content
						ul
							li A — Элементарное владение
								ul
									li A1 - Beginner, Elementary (Уровень выживания)
									li: strong A2 - Pre-Intermediate (Предпороговый уровень)
							li B — Самостоятельное владение
								ul
									li B1 - Intermediate (Пороговый уровень)
									li B2 - Upper-Intermediate (Пороговый продвинутый уровень)
							li C — Свободное владение
								ul
									li C1 - Advanced (Уровень профессионального владения)
									li C2 - Proficiency (Владение на уровне носителя)
		section#preschool.preschool
			h2 Дошкольное образование
			h3 Начните развивать своего малыша с нами!
			.preschool-content
				.preschool-price-container
					.preschool-price-image
						img(src='img/abc.png', alt='Дошкольное образование')
					.preschool-price
						p Дошкольное образование
						p Учим писать, читать, считать
						span От 2800 &#8381;

				.preschool-price-container
					.preschool-price-image
						img(src='img/artist.png', alt='Творческая мастерская')
					.preschool-price
						p Творческая мастерская
						p Лепка, рисование, театральный кружок
						span От 2000 &#8381;

				.preschool-price-container
					.preschool-price-image
						img(src='img/homework.png', alt='Продленка')
					.preschool-price
						p Продленка
						p Сделанное Домашнее задание
						span От 150 &#8381; / час
		
		section#abroad.abroad
			h2 Образование зарубежом
			p.abroad-explanation Сотрудничаем с лучшими зарубежными школами. Поможем окунуться в языковую среду, преодолеть языковой барьер и получить море впечатлений
			.abroad-content
				.abroad-price-container
					.abroad-price-image
						img(src='img/united-states.png', alt='США')
					.abroad-price
						p США
						span От 60 тыс. &#8381;
				.abroad-price-container
					.abroad-price-image
						img(src='img/united-kingdom.png', alt='Великобритания')
					.abroad-price
						p Великобритания
						span От 60 тыс. &#8381;
				.abroad-price-container
					.abroad-price-image
						img(src='img/malta.png', alt='Мальта')
					.abroad-price
						p Мальта
						span От 60 тыс. &#8381;
				.abroad-price-container
					.abroad-price-image
						img(src='img/ireland.png', alt='Ирландия')
					.abroad-price
						p Ирландия
						span От 60 тыс. &#8381;

		section#summer-camp.summer-camp
			h2 Летний языковой лагерь
			p Студия английского языка Revolution набирает группу детей от 6 до 14 лет в летний языковой лагерь в Краснодаре.
			p Наши предложения :
			ul
				li 3 часа английского каждый день
				li Пребывание в лагере с 9.00 до 16.00
				li Разнообразные мироприятия
				li Погружение в языковую и культурную сферу Великобритании
				li Питание
		footer.footer
			p Copyright &copy; 2017
			a(href='#header'): i.fa.fa-arrow-up
			.social-btns
				a(href='#'): i.fa.fa-vk
				a(href='#'): i.fa.fa-facebook
				a(href='#'): i.fa.fa-instagram

	//
		<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

	script(src='lib/jqueryjs/jquery.js')
	script(src='lib/parallaxjs/parallax.min.js')
	script(src='lib/onepageScrolljs/jquery.onepage-scroll.min.js')
	script(src='lib/aosjs/aos.js')
	//-script(src='lib/tinglejs/tingle.min.js')
	script(src='js/common.js')